[submodule "submodules/OsuStatePresenter"]
	path = submodules/OsuStatePresenter
	url = git@github.com:ceilingwaffle/OsuStatePresenter.git
[submodule "submodules/DependentValuePresentationFramework"]
	path = submodules/DependentValuePresentationFramework
	url = git@github.com:ceilingwaffle/DependentValuePresentationFramework.git
[submodule "submodules/ProcessMemoryDataFinder"]
	path = submodules/ProcessMemoryDataFinder
	url = git@github.com:Piotrekol/ProcessMemoryDataFinder.git
